.custom-card{
    border-color:#f4b504;
}
.bg-header{
    background: radial-gradient(ellipse, transparent -60%, rgba(0, 0, 0, 0.8)),
    url(https://media.swncdn.com/via/7586-mom-pixabay.jpg) no-repeat ;
  min-height: 90vh;

  
 color:white;
}