
  <div class="container">
    
   
    <section class="community">
        <div class="text-white sticky-top">
          <div class="container community-nav">
            
          </div>
        </div>
        <div class="container pt-4">
          <div class="container pt-3" >
            <div class="row">
              
              <div class="card card-body custom-card my-4">
                <div class="card-title">
                  <h5>
                    <strong>Wellbeing</strong>
                  </h5>
                  <p>
                   
                  </p>
                  <a href="/wellbeing" class="btn btn-light" style="border-radius: 10px;box-shadow: 2px 2px black; background-color: #f4b504; color: #000; border: none;">Join</a>
                    
                 
                  
                </div>
              <br>
              </div>
              
              <div class="card card-body custom-card my-4">
              <div class="card-title">
                <h5>
                  <strong>Single Fathers</strong>
                </h5>
                <p>
                 
                </p>
                <a href="/SingleFathers" class="btn btn-light" style="border-radius: 10px;box-shadow: 2px 2px black; background-color: #f4b504; color: #000; border: none;">Join</a>

                
              </div>
            </div><br>
            <div class="card card-body custom-card my-4">
              <div class="card-title">
                <h5>
                  <strong>Single parents with additional needs children</strong>
                </h5>
                <p>
                 
                </p>
                <a href="/Special" class="btn btn-light" style="border-radius: 10px;box-shadow: 2px 2px black; background-color: #f4b504; color: #000; border: none;">Join</a>

                
              </div>
            </div>
            </div>
          </div>
                            

              </div>
            
          
    </section>
</div>

