<section>

  <div class="homepage container-fluid text-white p-0">
    <div
      class="container-fluid justify-content-evenly d-flex align-items-end content"
    >
      <div class="text">
     
        <h1>MZAZI SPACE COMMUNITY</h1>
        <p>
          Connecting single parents online
        </p>
      </div>
      <div class="review mb-4">
        <div class="rating">
          <div style="margin-left: 0.5rem" class="circle">
            <div class="inner-circle">
             
            </div>
          </div>
          <p>200+ members</p>
        </div>
      </div>
    </div>
   
  </div>
 
</section>
  <!--Learn-->

    <section id ="mygroup" class="community">
        <div class="text-white sticky-top">
          <div class="container community-nav">
            
          </div>
        </div>
        <div class="container pt-4">
          <div class="container pt-3" >
            
            <div class="row">
              
              <div class="card card-body custom-card my-4">
                <div class="card-title">
                  <h5>
                    <strong>Wellbeing</strong>
                  </h5>
                  <div class="card-info">
                  <p class="card-text" style="color: #000;font-family: 'Rokkitt', serif;">
                    Everyone has the right to be happy.
                    The more happier we become, the more we can inspire others to lead happier lives <br>
                    and ultimately make the world a more positive place to be in. 
                    <BR>Come join a group of friendly and caring people.
                  </p>
                  </div><br>
                  <a href="/wellbeing" class="btn btn-light" style="border-radius: 10px;box-shadow: 2px 2px black; background-color: #f4b504; color: #000; border: none;">Join</a>
                 
                </div>
             
              </div>
              
              <div class="card card-body custom-card my-4">
              <div class="card-title">
                <h5>
                  <strong>Single Fathers</strong>
                </h5>
                <div class="card-info">
                  <p class="card-text" style="color: #000;font-family: 'Rokkitt', serif;">
                   <div class="card-info">
                  <p class="card-text" style="color: #000;font-family: 'Rokkitt', serif;">
                    Reaching your potential and feeling fulfilled as a single dad can be overwhelming.<BR>
                    That’s why single dad support groups are necessary.<br>
                    Join to share experiences with other dads” 
                  </p>
                  </div><br>
                  
                  </div>
                <a href="/singlefathers" class="btn btn-light" style="border-radius: 10px;box-shadow: 2px 2px black; background-color: #f4b504; color: #000; border: none;">Join</a>

                
              </div>
            </div><br>
            <div class="card card-body custom-card my-4">
              <div class="card-title">
                <h5>
                  <strong>Single parents with additional needs children</strong>
                </h5>
                <div class="card-info">
                  <p class="card-text" style="color: #000;font-family: 'Rokkitt', serif;">
                    Getting together and having others to interact with reduces feelings of disconnection while sharing hope and resources.<br>
                    You are not alone.Together we’re better!
                  </p>
                  </div><br>
                <a href="/Special" class="btn btn-light" style="border-radius: 10px;box-shadow: 2px 2px black; background-color: #f4b504; color: #000; border: none;">Join</a>

                
              </div>
            </div>
            </div>
          </div>
                            

              </div>
            
          
    </section>


