<!-- <div class="container-couns">
 <div class="couns-header">
  <h1 style="font-family: 'Yeseva One', cursive; font-size: 33px;">Counselors   Corner</h1>
  <hr style="width:15%; background-color: #F4B504; opacity: 1; height: 2px; margin-left:45% !important; margin-right:45% !important;" />
  <h1 style=" font-family: 'Montserrat', sans-serif; font-size: 19px;">Need to talk to someone? Call any one of our counselors available 24/7.
  </h1>
 </div>
</div> -->

<!-- Carousel -->
<div  class="slider">
  <div class="load">

  </div>
  <div class="content">
      <div class="principal">
        <h1 style="font-family: 'Yeseva One', cursive; font-size: 53px;">Counselors   Corner</h1>
        <!-- <hr style="width:45%; background-color: #F4B504; opacity: 1; height: 2px; margin-left:25% !important; margin-right:45% !important;" /> -->
          <p class="text-center" style=" font-family: 'Montserrat', sans-serif; font-size: 27px;">“People start to heal the minute they feel heard.”</p>
          <br><br>
          
      </div>
  </div>
  
</div>
<br>
<br>
<br>

<h1 style="font-family: 'Yeseva One', cursive; font-size: 53px;">Welcome to Mzazi Space Counselors Corner</h1>
<h1 style=" font-family: 'Montserrat', sans-serif; font-size: 23px;margin-top: 2%; margin-bottom: 2%;">Need to talk to someone? Call any one of our counselors available 24/7.
</h1>

<div class="card-columns d-flex justify-content-center">
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h3 style="font-family: 'Yeseva One', cursive; font-size: 27px;">Ms. Margaret Saina</h3>
      <p style="font-family: 'Montserrat', sans-serif; font-size: 19px;">Counselor</p>
      <p style="font-family: 'Montserrat', sans-serif; font-size: 17px;"><i class="fa fa-phone" aria-hidden="true"></i> + 254 86 962 818</p>
      <p style="font-family: 'Montserrat', sans-serif; font-size: 17px;">"Don't hesitate to reach out, we are here for you."</p>

      <hr>
      <!-- counselor's schedule -->
      <h3 style="font-family: 'Yeseva One', cursive; font-size: 20px;">Ms. Saina's Schedule</h3>
      <p style="font-family: 'Montserrat', sans-serif; font-size: 17px;">Available on:</p>
      <p style="font-family: 'Montserrat', sans-serif; font-size: 17px;">MON - WED</p>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h3 style="font-family: 'Yeseva One', cursive; font-size: 27px;">Mr. Oscar Lubega</h3>
      <p style="font-family: 'Montserrat', sans-serif; font-size: 19px;">Counselor</p>
      <p style="font-family: 'Montserrat', sans-serif; font-size: 17px;"><i class="fa fa-phone" aria-hidden="true"></i> + 254 86 962 818</p>
      <p style="font-family: 'Montserrat', sans-serif; font-size: 17px;">"Remember a problem shared is a problem halved"</p>

      <hr>
      <!-- counselor's schedule -->
      <h3 style="font-family: 'Yeseva One', cursive; font-size: 20px;">Ms. Lubega's Schedule</h3>
      <p style="font-family: 'Montserrat', sans-serif; font-size: 17px;">Available on:</p>
      <p style="font-family: 'Montserrat', sans-serif; font-size: 17px;">THU - SAT</p>
    </div>
  </div>
</div>




