<br>
<br>
<br>

<div class="container-couns mt-30">
 <div class="couns-header">
  <h1 style="font-family: 'Yeseva One', cursive; font-size: 33px;">Counselors   Corner</h1>
  <hr style="width:15%; background-color: #F4B504; opacity: 1; height: 2px; margin-left:45% !important; margin-right:45% !important;" />
  <h1 style=" font-family: 'Montserrat', sans-serif; font-size: 19px; margin-top: 5px;">Need to talk to someone? Call any one of our counselors available 24/7.
  </h1>
 </div>
 
</div>
<div class="row">
  <div class="column" id="counsel">
    <div class="card">
      <h3 style="font-family: 'Yeseva One', cursive; font-size: 27px;">Ms. Margaret Saina</h3>
      <p style="font-family: 'Montserrat', sans-serif; font-size: 19px;">Counselor</p>
      <p style="font-family: 'Montserrat', sans-serif; font-size: 17px;"><i class="fa fa-phone" aria-hidden="true"></i> + 254 86 962 818</p>
      <p style="font-family: 'Montserrat', sans-serif; font-size: 17px;">"Don't hesitate to reach out, we are here for you."</p>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <h3 style="font-family: 'Yeseva One', cursive; font-size: 27px;">Mr. Oscar Lubega</h3>
      <p style="font-family: 'Montserrat', sans-serif; font-size: 19px;">Counselor</p>
      <p style="font-family: 'Montserrat', sans-serif; font-size: 17px;"><i class="fa fa-phone" aria-hidden="true"></i> + 254 86 962 818</p>
      <p style="font-family: 'Montserrat', sans-serif; font-size: 17px;">"Remember a problem shared is a problem halved"</p>
    </div>
  </div>
  
  <div class="column">
    <div class="card text-white bg-dark">
      <h3 style="font-family: 'Yeseva One', cursive; font-size: 20px;">Ms. Saina's Schedule</h3>
      <p style="font-family: 'Montserrat', sans-serif; font-size: 17px;">Available on:</p>
      <p style="font-family: 'Montserrat', sans-serif; font-size: 17px;">MON - WED</p>
    </div>
  </div>
  
  <div class="column">
    <div class="card text-white bg-dark">
      <h3 style="font-family: 'Yeseva One', cursive; font-size: 20px;">Mr. Lubega's Schedule</h3>
      <p style="font-family: 'Montserrat', sans-serif; font-size: 17px;">Available on:</p>
      <p style="font-family: 'Montserrat', sans-serif; font-size: 17px;">THU - SAT</p>
    </div>
  </div>
</div>



