<br>
<br>
<br>

<div class="container-couns mt-30">
 <div class="couns-header">
  <h1 style="font-family: 'Yeseva One', cursive; font-size: 33px;">Counselors   Corner</h1>
  <hr style="width:10%; background-color: #EDB82C; height: 2px; margin-left:45% !important; margin-right:45% !important;" />
  <h1 style=" font-family: 'Montserrat', sans-serif; font-size: 19px; margin-top: 5px;">Need to talk to someone? Call any one of our counselors available 24/7.
  </h1>
 </div>
 
</div>
<div class="row">
  <div class="column" id="counsel">
    <div class="card">
      <h3 style="font-family: 'Yeseva One', cursive; font-size: 27px;">Ms. Margaret Saina</h3>
      <p style="font-family: 'Montserrat', sans-serif; font-size: 19px;">Counselor</p>
      <p style="font-family: 'Montserrat', sans-serif; font-size: 17px;"><i class="fa fa-phone" aria-hidden="true"></i> + 254 86 962 818</p>
      <p style="font-family: 'Montserrat', sans-serif; font-size: 17px;">"Don't hesitate to reach out, we are here for you."</p>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <h3 style="font-family: 'Yeseva One', cursive; font-size: 27px;">Mr. Oscar Lubega</h3>
      <p style="font-family: 'Montserrat', sans-serif; font-size: 19px;">Counselor</p>
      <p style="font-family: 'Montserrat', sans-serif; font-size: 17px;"><i class="fa fa-phone" aria-hidden="true"></i> + 254 86 962 818</p>
      <p style="font-family: 'Montserrat', sans-serif; font-size: 17px;">"Remember a problem shared is a problem halved"</p>
    </div>
  </div>
  
  <div class="column">
    <div class="card text-white bg-dark">
      <h3 style="font-family: 'Yeseva One', cursive; font-size: 20px;">Ms. Saina's Schedule</h3>
      <p style="font-family: 'Montserrat', sans-serif; font-size: 17px;">Available on:</p>
      <p style="font-family: 'Montserrat', sans-serif; font-size: 17px;">MON - WED</p>
    </div>
  </div>
  
  <div class="column">
    <div class="card text-white bg-dark">
      <h3 style="font-family: 'Yeseva One', cursive; font-size: 20px;">Mr. Lubega's Schedule</h3>
      <p style="font-family: 'Montserrat', sans-serif; font-size: 17px;">Available on:</p>
      <p style="font-family: 'Montserrat', sans-serif; font-size: 17px;">THU - SAT</p>
    </div>
  </div>
</div>
<!-- <div>
  <h1>Counselors Corner</h1>
</div>

<div class="find-counsel">
  <p>Need to talk to someone? <br>
    Call any one of our counselors available 24/7.
  </p>
  <p>
    Find a counselor is a confidential service at Mzazi Space that you can use as a community member. <br>
    If we are concerned about your safety or the safety of others, or otherwise as required by law, we may provide information to public safety workers, <br> 
    like an emergency medical team, so they can make sure everyone stays safe. 
  </p>
</div>
<br> -->

<!-- cards to display counselors available contact information -->
<!-- <div class="container-cards">
<div class="card text-white bg-warning mb-3" style="max-width: 18rem;">
  <div class="card-header"><i class="fa fa-commenting-o" aria-hidden="true"></i>Margaret Saina</div>
  <div class="card-body">
    <h5 class="card-title">Counselor</h5>
    <p class="card-text">"Don't hesitate to reach out, we are here for you."</p>
  </div>
  </div>

  <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
    <div class="card-header"><i class="fa fa-commenting-o" aria-hidden="true"></i>Oscar Lubega</div>
    <div class="card-body">
      <h5 class="card-title">Counselor</h5>
      <p class="card-text">"Remember a problem shared is a problem halved"</p>
    </div>
  </div>

  <div class="card text-white bg-warning mb-3" style="max-width: 18rem;">
    <div class="card-header"><i class="fa fa-commenting-o" aria-hidden="true"></i>Customer Care Line</div>
    <div class="card-body">
      <h5 class="card-title">Counselors Availability</h5>
      <p class="card-text">MON - Mr. Lubega</p>
      <p class="card-text">TUE - Ms. Saina</p>
      <p class="card-text">WED - Mr. Lubega</p>
      <p class="card-text">THU - Mr. Lubega</p>
      <p class="card-text">FRI - Mr. Saina</p>
      <p class="card-text">SAT - Mr. Saina</p>
    </div>
  </div>
</div> -->
