<body>
  <br>
  <br>
  <div id="about-head">
    <hr style="width:1%; background-color: #000; height: 5px; margin-right:45% !important; margin-left:1% !important; opacity: 1;" />
    <h1 class="about-head">About Mzazi <br> <span style="color: #000; font-family: 'Yeseva One', cursive;">Space</span></h1>
    <p>
      Mzazi Space is a single parent App that aims to match single parents with similar interests 
      <br>
      so they can help each other along the journey of single parenthood. Mzazi Space is a 
      <br>
      community for all single parents.We know it can get hard, We got you .
    </p>
      <img style="float: right; position: absolute; top: 10%; right: 15%;"  src="/assets/african-attire1.png" alt="">
  </div>
  
</body>









