<br>
<!-- <div class="bout">
<h1>ABOUT US</h1>
<div>
  <p></p>
  <p></p>
</div>
</div>


<div class="description mt-10%">
  <hr style="width:10%; background-color: #EDB82C; height: 2px; margin-left:45% !important; margin-right:45% !important;" />
  <p>Mzazi Space is a single parent App that aims to match single parents <br>
    with similar interests so they can help each other along the journey.</p>
</div> -->

<div>
  <div class="bout-img">
    <img src="/assets/lawrence-crayton-hOiDpAZ8Pok-unsplash.jpg" alt="">
  </div>
  
  <div class="mzazi-p">
    <h1>ABOUT US</h1>
    <hr style="width:10%; background-color: #EDB82C; height: 2px; margin-left:45% !important; margin-right:45% !important;" />
    <p>
      Mzazi Space is a single parent App that aims to match single parents 
      <br>
      with similar interests so they can help each other along the journey
    </p>
  </div>
</div>




