/* font-family: 'Montserrat', sans-serif;
font-family: 'Rokkitt', serif;
font-family: 'Yeseva One', cursive; */

h1{
  font-family: 'Yeseva One', cursive;
  color: #F4B504;
  /* margin-top: 7%;
  margin-bottom: 17px; */
  font-size: 77px;
}


p{
  letter-spacing: 0.5px;
  color: #000;
  font-family: 'Montserrat', sans-serif;
  font-size: 19px;
  font-weight: 400;
  margin-bottom: 22px;
}

p {
  animation-duration: 3s;
  animation-name: slidein;
}

/* @keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
} */

h5, h6{
  color: #F4B504;
  text-align: center;
  font-weight: 500;
  font-family: 'Yeseva One', cursive;
  font-size: 22px;
}

.jumbotron{
  border-radius: 5px;
  padding: 10px;
  box-shadow: 3px 5px #888888;
  margin-top: 5%; 
}

/* .btn{
  font-family: 'Montserrat', sans-serif;
  color: #6114D1;
  font-size: 17px;
} */

/* .bout{
  background-image: url(/assets/commstaytog.jpg);
  background-repeat: no-repeat;
  
} */

.bout-img{
  float: left;
  padding: 10px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.nav-links {
  flex: 1;
  text-align: right;
}
.nav-links {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
}
.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  /* color: #6114D1; */
  font-family: 'Montserrat', sans-serif;
}

/* .about{
  margin-top: 7%;
  background-image: url(/assets/andrae-ricketts-Q9_zv0LN4jU-unsplash.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 3%;
} */
.about-us{
  margin-top: 3%;
}

#about-head{
  padding-left: 15%;
  padding-bottom: 30%;
  padding-top: 13%;
}

