/* font-family: 'Montserrat', sans-serif;
font-family: 'Rokkitt', serif;
font-family: 'Yeseva One', cursive; */

.icons .fa{
  margin: 0 13px;
  cursor: pointer;
  padding: 18px 0;
  font-size: 14px;
}

p{
  font-size: 11px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  margin-top: 5px;
}

h6{
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
}

