
<nav class="navbar my-navbar navbar-expand-lg bg-white mb-5">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="https://imgur.com/sbUlQpy" alt="" />
      MZAZI SPACE</a
    >
    <button
      class="navbar-toggler border-0"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span
        class="iconify bar-icon"
        data-icon="fa-solid:bars"
        data-inline="false"
      ></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav" style="color: #2cdfff;">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item nav-active">
          <a class="nav-link" routerLink="/home">HOME <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item nav-active">
          <a class="nav-link" href="">COMMUNITY</a>
        </li>
        <li class="nav-item nav-active">
          <a class="nav-link" routerLink="/service">SERVICES</a>
        </li>
        <li class="nav-item nav-active">
          <a class="nav-link" routerLink="/about">ABOUT</a>
        </li>
        <li class="nav-item nav-active">
          <a class="nav-link" routerLink="/profile">PROFILE</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<br>
<br>
<hr class="line" style="background-color: #f4b504 ; height:0.1rem">

<br>
