<br>
<br>
<br>
<br>

      <div class="container-fluid">
        <div class="container mb-4">
          <h1 class="display-4">Our Community</h1>
            <p class="lead">Single parenthood has been so enriched and empowered by Mzazi Community
             and the friendship that members have formed.</p> 
        </div>
      </div>
  


 
   <div class="cards">
    <article class="card mb-3" style="box-shadow: 5px 5px 5px 5px whitesmoke;">
      <header>
            <h2 style="color: #000;font-family: 'Montserrat', sans-serif;">Singleparent Groups</h2>
        </header>    
        <img class="card-img-top" src="/assets/one3.jpg" alt="Card image cap" >
        <div class="content">
          <p class="card-text" style="color: #000;font-family: 'Rokkitt', serif;"> Singleparents groupd are there to provide a space to meet
            other people who understand what its like to be a single...</p>

            <a href="/groups" class="btn btn-warning" style="border-radius: 10px;box-shadow: 2px 2px white; background-color: #f4b504; color: #000;border: none;">View group</a>

                  
          </div>
            



    </article>
            
     <article class="card mb-3" style="box-shadow: 5px 5px 5px 5px whitesmoke;">
        <header>
            <h2 style="color: #000;font-family: 'Montserrat', sans-serif;">Share your experiences</h2>
        </header>    
        <img class="card-img-top" src="/assets/experience.jpg" alt="Card image cap">
        <div class="content">
          <p class="card-text" style="color: #000;font-family: 'Rokkitt', serif;">Tell us your story and offer advice to other single parents</p>
          <a href="/posts" class="btn btn-warning" style="border-radius: 10px;box-shadow: 2px 2px white; background-color: #f4b504; color: #000;border: none;" >Learn and share</a>
          

        </div>
        
    </article>


            
    <article class="card mb-3" style="box-shadow: 5px 5px 5px 5px whitesmoke;">
      <header>
            <h2 style="color: #000;font-family: 'Montserrat', sans-serif;" >Join Mzazi Space Event</h2>
        </header>
        <img class="card-img-top" src="/assets/events.jpg" alt="Card image cap">
        <div class="content">
            <p class="card-text" style="color: #000;font-family: 'Rokkitt', serif;">Join a Mzazi Space event to get to know the community better</p>
            <a href="/mzazievents" class="btn btn-warning" style="border-radius: 10px;box-shadow: 2px 2px white; background-color: #f4b504; color: #000;border: none;">View Events</a>
        </div>
       
    </article>


    <article class="card mb-3" style="box-shadow: 5px 5px 5px 5px whitesmoke;">
      <header>
            <h2 style="color: #000;font-family: 'Montserrat', sans-serif;">Support and Services</h2>
        </header>
        <img class="card-img-top" src="/assets/support2.jpg" alt="Card image cap" >
        <div class="content">
          <p class="card-text" style="color: #000;font-family: 'Rokkitt', serif;">We provide Mental health support to support singleparents<br>who find themselves in want</p>
          <a href="/service" class="btn btn-warning" style="border-radius: 10px;box-shadow: 2px 2px white; background-color: #f4b504; color: #000;border: none;">Support and service</a>

        </div>

    </article>
</div>