<div class="container" >
  <div class="row">
    <div class="col-md-12">
  <div class="jumbotron" style="margin-top: 10%; background-color: rgba(0, 0, 0, 0.85);">
    
    <h1 style="color: #f4b504; font-family: 'Yeseva One', cursive;" >Our Community</h1>
    <p class="lead" style="color: #ffff;font-family: 'Rokkitt', serif;">The Mzazi Space has become a nurturing,positive and safe place to connect with people "who get it"
      where parents can easily make friends, seek advice,as well as share experiences,
      the challenges they face and have meetups, forums and other activities.
      Single parenthood has been so enriched and empowered by Mzazi Community
      and the friendship that members have formed.
    </p>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <div class="card mb-4" style="height: 640px; width: 625px;">
      <div class="card-body">
        <img class="card-img-top" src="/assets/one3.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 style="color: #000;font-family: 'Yeseva One', cursive;">Singleparent Groups</h5>
        <p class="card-text" style="color: #000;font-family: 'Rokkitt', serif;"> Singleparents groupd are there to provide a space to meet<br>
        other people who understand what its like to be a single...</p>
        <a href="/groups" class="btn btn-light" style="border-radius: 10px; background-color: #f4b504; color: #000;border: none; font-family: 'Montserrat', sans-serif;">View Groups</a>
      </div>
      </div>
    </div>
    
  </div>
  <div class="col-sm-6">
    <div class="card mb-3" style="height: 640px; width: 625px;">
      <div class="card-body">
        <img class="card-img-top" src="/assets/experience.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 style="color: #000;font-family: 'Yeseva One', cursive;">Share your experiences</h5>
          <p class="card-text" style="color: #000;font-family: 'Rokkitt', serif;">Tell us your story and offer advice to other single parents</p>
          <a href="/posts" class="btn btn-light" style="border-radius: 10px; background-color: #f4b504; color: #000;border: none; font-family: 'Montserrat', sans-serif;">Share & Learn</a>
          
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card mb-3" style="height: 640px; width: 625px;">
      <div class="card-body">
        <img class="card-img-top" src="/assets/events.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 style="color: #000;font-family: 'Yeseva One', cursive;">Join Mzazi Space Event</h5>
          <p class="card-text" style="color: #000;font-family: 'Rokkitt', serif;">Join a Mzazi Space event to get to know the community better</p>
          <a href="/mzazievents" class="btn btn-light" style="border-radius: 10px; background-color: #f4b504; color: #000;border: none; font-family: 'Montserrat', sans-serif;">View Events</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card mb-3" style="height: 640px; width: 625px;">
      <div class="card-body">
        <img class="card-img-top" style="height: 380px; width: 580px;" src="/assets/support2.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 style="color: #000;font-family: 'Yeseva One', cursive;">Support and Services</h5>
          <p class="card-text" style="color: #000;font-family: 'Rokkitt', serif;">We provide Mental health support to support singleparents<br>who find themselves in want</p>
          <a href="/service" class="btn btn-light" style="border-radius: 10px; background-color: #f4b504; color: #000; border: none; font-family: 'Montserrat', sans-serif;">View Services</a>
        </div>
      </div>
    </div>
  </div>
</div>

</div>

</div>