<div class="container" >
    <div class="row">
      <div class="col-md-12">
    <div class="jumbotron" style="margin-top: 10%;">
      
      <h1 style="margin-left: 25rem;">Our Community</h1>
      <p class="lead">The Mzazi Space has become a nurturing,positive and safe place to connect with people "who get it"
        where parents can easily make friends, seek advice,as well as share experiences,
        the challenges they face and have meetups, forums and other activities.
        Single parenthood has been so enriched and empowered by Mzazi Community
        and the friendship that members have formed.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <h5 style="color: #2C75FF;">Singleparent Groups</h5>
          <p class="card-text" style="color: #2C75FF;"> Singleparents groupd are there to provide a space to meet<br>
          other people who understand what its like to be a single...</p>
          <a href="#" class="btn btn-light" style="border-radius: 10px;box-shadow: 2px 2px grey;">Read More</a>
        </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <img class="card-img-top" src="..." alt="Card image cap">
          <div class="card-body">
            <h5 style="color: #2C75FF;">Share your experiences</h5>
            <p class="card-text" style="color: #2C75FF;">Tell us your story and offer advice to other single parents</p>
              <a href="#" class="btn btn-light" style="border-radius: 10px;box-shadow: 2px 2px grey;">Read More</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <img class="card-img-top" src="..." alt="Card image cap">
          <div class="card-body">
            <h5 style="color: #2C75FF;">Join Mzazi Space Event</h5>
            <p class="card-text" style="color: #2C75FF;">Join a Mzazi Space event to get to know the community better</p>
              <a href="#" class="btn btn-light" style="border-radius: 10px;box-shadow: 2px 2px grey;">View More</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <img class="card-img-top" src="..." alt="Card image cap">
          <div class="card-body">
            <h5 style="color: #2C75FF;">Support and Services</h5>
            <p class="card-text" style="color: #2C75FF;">We provide Mental health support to support singleparents<br>who find themselves in want</p>
              <a href="#" class="btn btn-light" style="border-radius: 10px;box-shadow: 2px 2px grey;">Read More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  </div>
  


  </div>
