<div class="container " style="margin-top: 5%; margin-bottom:10%" >
  <div class="jumbotron" style="background-color: rgba(0, 0, 0, 0.8); color: #fff; "  >
    <h1 class="display-3">Special Group</h1>
    <p class="lead">The Wellbeing Group for single parents is a volunteer-run, peer-to-peer, support community. It exists to provide a safe, friendly, private online space for single parents to meet, connect and offer peer support.
      group members can engage in conversations and discussions with other group members on a group chat wall, as well as having the opportunity to attend regular virtual meetups, hosted by a volunteer digital group co-ordinator.
      
      
      </p>
    <hr class="my-2">


   <a href="https://chat.whatsapp.com/DCOkXJIu3SIDyeNj7TTZW6" ><button class="btn " style="background-color: #f4b504;  margin-left: 45%; margin-top: 2%;" type="submit">Join Group</button> </a>
    <p class="lead">
   
    </p>
  </div>
  <div class="jumbotron " >
    <h1 class="display-3 text-dark">Terms and Conditions</h1>
    <p class="lead text-dark" style="font-weight: 400">Once in the group, feel free to let your fellow group members know who you are, where you’re based and anything else you’d like to share about yourself as an introduction. This might feel a little intimidating, but you will receive a warm welcome and it will really help you integrate into the group – and get the most out of it!
      
      
      </p>
    <hr class="my-2">


    <p class="lead text-primary"><i class="fa fa-cc" aria-hidden="true"></i>
   Morning Brew
    </p>
  </div>
  </div>      