
/* font-family: 'Montserrat', sans-serif;
font-family: 'Rokkitt', serif;
font-family: 'Yeseva One', cursive; */


h1{
  font-family: 'Yeseva One', cursive;
  text-align: center;
  color: #1B019B;
  margin-top: 1%;
  margin-bottom: 17px;
  font-size: 44px;
}

p{
  text-align: center;
  letter-spacing: 0.5px;
  color: #2C75FF;
  font-family: 'Montserrat', sans-serif;
  font-size: 17px;
  font-weight: 400;
  margin-bottom: 22px;
}

p {
  animation-duration: 3s;
  animation-name: slidein;
}

.call-buttons{
  color: #1B019B;
  font-family: 'Montserrat', sans-serif;
  font-size: 17px;
  text-align: center;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}


