<br>

<div class="container" >
  <div class="row">
    <div class="col-md-12">
  <div class="service-bit" style="margin-top: 7%;">
    <h1 class="serv-header">OUR SERVICES</h1>
    <hr style="width:10%; background-color: #EDB82C; height: 2px; margin-left:45% !important; opacity: 1; margin-right:45% !important;"/> 
    <p class="lead">As the Mzazi Space community has grown significantly over the years, it has become clear through feedback from the community that <br> 
      single parents often find traditional service methods insufficient.With this is mind,
      we decided create a respectful and empowering community experience for single parents where everyone has the same shared 
      importance of family with Mzazi Space. <br> Already many parents  have found services offered to their proximity, 
      and we are excited to see many <br> more lovely and blended families join us in the future.</p>

      <div class="card-columns d-flex justify-content-center">
      <div class="card" style="width: 18rem;">
        <img style="height: 280px; width: 358px;" src="/assets/pexels-alex-green-5699455.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h6 class="card-title" style="color: #000; font-family: 'Montserrat', sans-serif; font-weight: 500; text-align: center;"></h6>
          <p class="card-text" style="color: #000; font-family: 'Montserrat', sans-serif; font-weight: 500;">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="" routerLink="/findcounselor" class="btn btn-dark" style="color: #F4B504; font-family: 'Montserrat', sans-serif; font-weight: 600; ">Find a Counselor</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img style="height: 280px; width: 358px;" src="/assets/pexels-suzy-hazelwood-1275235.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h6 class="card-title" style="color: #000; font-family: 'Montserrat', sans-serif; font-weight: 500; text-align: center;"></h6>
          <p class="card-text" style="color: #000; font-family: 'Montserrat', sans-serif; font-weight: 500;">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="" routerLink="/childcare" class="btn btn-dark" style="color: #F4B504; font-family: 'Montserrat', sans-serif; font-weight: 600; ">Childcare Services</a>
        </div>
      </div>
    </div>

      <!-- <div class="call-buttons mt-10">
        <br>
        <p class="call-buttons" routerLink="/findcounselor">Find a Counselor</p>
        <p class="call-buttons" routerLink="/childcare">Child Services</p>
      </div> -->
  </div>

  
</div>
</div>
</div>
<br>
<br>



