<br>

<div class="container" >
  <div class="row">
    <div class="col-md-12">
  <div class="jumbotron" style="margin-top: 10%;">
    <h1 class="display-4">OUR SERVICES</h1>
    <p class="lead">As the Mzazi Space community has grown significantly over the years, it has become clear through feedback
      from the community that single parents often find traditional service methods insufficient.With this is mind,
      we decided create a respectful and empowering community experience for single parents where everyone has the same shared 
      importance of family with Mzazi Space. Already many parents  have found services offered to their proximity, 
      and we are excited to see many more lovely and blended families join us in the future.</p>
  </div>
</div>
</div>
</div>
<br>
<br>

<div class="container-fluid">
  <div class="row row-cols-1 row-cols-sm-3">
    <div class="col">
      <div
      class="card card-cover h-100 overflow-hidden text-white rounded-5"
        style="
          background-image: url('/assets/community2.jpg');
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center center;
          border-radius: 20px !important;
        " 
      >
      <div
          class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1"
        >
          <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold"></h2>
          <div class="d-flex flex-row flex-wrap">
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div
        class="card card-cover h-100 overflow-hidden  rounded-5"
        style="
          background-image: url('/assets/counselor3.jpg');
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center center;
          border-radius: 20px !important;
        "
      >
        <div
          class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1"
        >
          <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold"></h2>
          <div class="d-flex flex-row flex-wrap">
            <div
              class="mx-1 my-1 px-3"
            >
              <span class="h5 fw-bold">/</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>