
/* font-family: 'Montserrat', sans-serif;
font-family: 'Rokkitt', serif;
font-family: 'Yeseva One', cursive; */

.container{
  background-image: url('/assets/andrae-ricketts-Q9_zv0LN4jU-unsplash.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 60vh;
  margin-top: 11%;
  border-radius: 3%;
  background: rgba(0, 0, 0, 0.5);
}


h1{
  font-family: 'Yeseva One', cursive;
  text-align: center;
  color: #F4B504;
  margin-top: 1%;
  margin-bottom: 17px;
  font-size: 44px;
}

p{
  text-align: center;
  letter-spacing: 0.5px;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 22px;
  font-weight: 500;
}

p {
  animation-duration: 3s;
  animation-name: slidein;
}

.call-buttons{
  color: #F4B504;
  font-family: 'Montserrat', sans-serif;
  font-size: 21px;
  font-weight: 600;
  text-align: center;
  padding: 1%;
  /* display: inline-block; */
}

.jumbotron{
  background-image : url("/assets/about1.jpg")
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}


