<br>
<br>
<br>
<div class="container">

        <button class="btn btn-light" style="border-radius: 10px;box-shadow: 2px 2px black; background-color: #f4b504; color: #000; border: none;" (click)="open(mymodal)">Share</button>
        
        <ng-template #mymodal let-modal (ngSubmit)="addPost()">
            <div class="modal-header">
            
              <div class="md-form mb-4">
                <h4 class="modal-title" id="modal-basic-title">Share your story</h4>
                

                <textarea
                name="post"
                class="form-input post-form"
                placeholder="What's going on?"
                style="width:400px;"
                [(ngModel)]="post"
              >
              </textarea>
              
              
              </div>
            </div>
        
            <label for="postFile">
              <input
                type="file"
                name="postFile"
                id="postFile"
                class="img-input"
                (change)="uploadFile($event)"
              />
              <i
                class="fa fa-file-image-o post-form-icons mt-2 float-left m-0 p-0"
                aria-hidden="true"
              ></i>
            </label>
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Post</button>
              
            </div>
        </ng-template>

 <div class="card my-3 custom-card" *ngIf="post">
  <div class="card-header">
    <div class="d-flex">
      <p class="ml-auto my-auto">
        <strong><i class="fa fa-ellipsis-h" aria-hidden="true"></i></strong>
      </p>
    </div>
  </div>
  <div class="card-body p-0 m-0">
    <p class="pl-3 pt-3">{{ post}}</p>
    <img
      
      src="{{selectedImage}}"
      class="img-fluid"
    />
   
  </div>
 
</div>

     
    
  
