@import url('https://fonts.googleapis.com/css2?family=Gabriela:wght@400;700&display=swap');
@import "~bootstrap/dist/css/bootstrap.css";

* {
    scroll-behavior: smooth;
    font-family: 'Gabriela';
    margin:0;
    padding: 0;
   
   
    
}

body {
  
    margin: 2%;
}
.mycontainer {

    width:30vw;
    float:left;
    margin-top: -30%;
    color:whitesmoke;
   
    
}

 img{
    height:50vh;
    width:30vw;
    margin-left: 50%;
    
}
ul li a{
    color: #fff;
    font-size:2rem;
   
    
}

ul li{
    list-style: none;
    margin: 0 2px;
    padding-left:20% ;
    display: flex;
    justify-content: space-between;
  }