@import url('https://fonts.googleapis.com/css2?family=Gabriela:wght@400;700&display=swap');
@import "~bootstrap/dist/css/bootstrap.css";


 body {
  
    background: #ffffff;;
  
    font-family: Verdana, Tahoma, sans-serif;


} 
.mycontainer {

    width:30vw;
    float:left;
    margin-top: -35%;
    color:whitesmoke;
  
   
    
   
    
}

 .img{
    height:60vh;
    width:35vw;
    margin-left: 60%;
    border-radius: 1%;
    
}
ul li a{
    color: #fff;
    font-size:2rem;
   
    
}

ul li{
    list-style: none;
    margin: 0 2px;
    padding-left:20% ;
    display: flex;
    justify-content: space-between;
  }