<!doctype html>
<html lang="en">
  <head>
    <title>Mzazi Homepage</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="homepage.component.css">
   
</head>
  <body>
 <div class="container mt-0  " style="background-color: #0d3944; border-radius: 5px; top: 7%; margin-left: 12%;">
    
        <img class="img" src= "https://media.istockphoto.com/photos/unity-of-indian-children-asia-picture-id537311780?k=20&m=537311780&s=612x612&w=0&h=XS7Ub5TGi_sRC_m0bmfMJieAVVK8GpvSCtrs5ZlTl4k=" alt="" srcset="" >
           
        <div class="mycontainer">
                   
           
            <h1 class="display-3 text-center"> WELCOME TO MZAZI SPACE</h1>
           
            <p class="lead mt-4" style="line-height:4vh; font-size: 1.4rem; margin-left: 10%;">Being a single parent is nothing but easy,
                Mzazi Space aims to match single parents with similar interests 
                giving them a sense of community and camaraderie.</p>
         
        
    </div>

</div>


<br>
<br>
<div class="container-fluid">
  
  <img class="img-responsive" style="margin-left:11.5%; width:571px ; height: 286; border-radius:2%" src="../../../assets/communityblack.png" alt="" >
  <div class="container " style="float: right; width: 25vw; margin-right:20%; margin-top: 6%; ">
                   
    <h2 class="heading" style="font-weight:bolder; color:rgb(10, 60, 61)">We put the togetherness and love in community </h2>
   
    <p class="lead mt-4" style="line-height:4vh; font-size: 1.6rem;">Being a single parent is nothing but easy,
        Mzazi Space aims to match single parents with similar interests 
        giving them a sense of community and camaraderie.</p>
 

</div>
  

</div>

<div class="container-fluid">
  <img style=" width:740px ; height: 440px; border-radius:2%" src="../../../assets/learnmore.png" alt="" srcset="">
  <div class="container " style="float: left; width: 29vw; margin-left: 11%; margin-right:15%; margin-top: 6%;">
                   
    <h2 class="heading" style="font-weight:bolder; color:rgb(10, 60, 61)"> Learning from other single parents coz they get it. </h2>
   
    <p class="lead mt-4" style="line-height:4vh; font-size: 1.6rem;">  We know that there can be highs and lows to being a single parent. 
      So at Mzazi  Space we offer ways to connect to other single parents.</p>
 

</div>
 

</div>
<!-- ..................................Footer................ -->
<!-- <div class="">
<h3></h3>

<div class="">
  <div id="card">
    <img src="" alt="">
    <h6></h6>
   
    
    <p></p>
  </div>
</div>
</div> -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
