@import url('https://fonts.googleapis.com/css2?family=Gabriela:wght@400;700&display=swap');
@import "~bootstrap/dist/css/bootstrap.css";


/* body {
  
    background: #ebe9f3;
    background-image: linear-gradient(130deg, rgba(0, 122, 244, 0) 20%, rgb(0, 0, 255), 80%); 
    font-family: Verdana, Tahoma, sans-serif;
    margin: 5%;
    background-repeat: no-repeat;
    background-attachment:fixed;
    border-style:none;
    border-radius: 20px;
   
   

} */
.mycontainer {

    width:35vw;
    float:left;
    margin-top: -35%;
    color:whitesmoke;
   
    
   
    
}

 .img{
    height:70vh;
    width:35vw;
    margin-left: 60%;
    border-radius: 1%;
    
}
ul li a{
    color: #fff;
    font-size:2rem;
   
    
}

ul li{
    list-style: none;
    margin: 0 2px;
    padding-left:20% ;
    display: flex;
    justify-content: space-between;
  }