<!doctype html>
<html lang="en">
  <head>
    <title>Mzazi Homepage</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="homepage.component.css">
   
</head>
  <body>
    <!-- <app-navbar></app-navbar> -->
 <div class="container mt-4  ">
    
   
  
   
        <img src="https://media.istockphoto.com/photos/unity-of-indian-children-asia-picture-id537311780?k=20&m=537311780&s=612x612&w=0&h=XS7Ub5TGi_sRC_m0bmfMJieAVVK8GpvSCtrs5ZlTl4k=" alt="" srcset="" >
           
        <div class="mycontainer">
                   
           
            <h1 class="display-2 "> WELCOME TO MZAZI SPACE</h1>
           
            <p class="lead mt-4" style="line-height:4vh; font-size: 1.6rem;">Being a single parent is nothing but easy,
                Mzazi Space aims to match single parents with similar interests 
                giving them a sense of community and camaraderie.</p>
         
        
    </div>

</div>


 

<!-- ..................cards............ -->
<div class="container-fluid">
  

 
  <div class="card">
    <div class="img ">
      <img src="https://s3-alpha-sig.figma.com/img/b350/3068/a59bfde351373ef089051e7ad3b0b45e?Expires=1658102400&Signature=Wba4v9tun5jIItcaROGq51AnsaSWK7ASBV5RI7jIncnWvalRMwRyCBWpMcatVMtp-SdPdMEFJh6VUQmo84XqUszUPvmTWCcTlsbLsKFueVHLcAtskjd-Ym79YUP~uur2l3X9Bu~gDk7g-XTyYXUQRNkVhij8FMPZKOCEsn77Io6PdCvD0QA2G9e36oeDcOB6ENe7KvPyua~qvfb8rruiSfZZaTYwukLnARTOMq9-J~E~3YZYLOvgxFba17AVTqdRj7Z2QyW2fDXmTFjhLVcpL0HkUzl-JLmGnitt-qXt~xve1LXLkY1dOC2hLE01AARP0tcZtIE0wC5l6pjZZ1DprA__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA" alt="" >
     </div>
   
    <span class="iconify" data-icon="carbon:add-alt" style="color: #1ca1fa;"></span>
    <h5></h5>
    <p> <br>  <br> </p>
  </div>
  <div class="card">
    <span class="iconify" data-icon="fa:search" style="color: #1cb0fa;"></span>
    <h5></h5>
    <p> <br> </p>
  </div>
  <div class="card">
    <span class="iconify" data-icon="carbon:collaborate" style="color: #1c8bfa;"></span>
    <h5></h5>
    <p>   <br>  </p>
  </div>
</div>
<!-- ..................................Footer................ -->
<div class="">
<h3></h3>

<div class="">
  <div id="card">
    <img src="" alt="">
    <h6></h6>
   
    
    <p></p>
  </div>
</div>
</div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
