<!doctype html>
<html lang="en">
  <head>
    <title>Mzazi Homepage</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  
   
</head>
  <body>
<br>
 <div class="container mt-1  " style="background-color: #f4b504; border-radius: 5px; top: 7%; margin-left: 12%;">
    
        <img class="img" src= "https://media.istockphoto.com/photos/unity-of-indian-children-asia-picture-id537311780?k=20&m=537311780&s=612x612&w=0&h=XS7Ub5TGi_sRC_m0bmfMJieAVVK8GpvSCtrs5ZlTl4k=" alt="" srcset="" >
           
        <div class="mycontainer">
                   
           
            <h1 class="display-3 text-center" style="font-family: 'Yeseva One', cursive;"> WELCOME TO MZAZI SPACE</h1>
           
            <p class="lead mt-4" style="line-height:4vh; font-size: 1.4rem; margin-left: 10%; font-family: 'Montserrat', sans-serif; font-weight:500">Being a single parent is nothing but easy,
                Mzazi Space aims to match single parents with similar interests 
                giving them a sense of community and camaraderie.</p>
         
        
    </div>

</div>


<br>
<br>
<div class="container-fluid">
  
  <img class="img-responsive" style="margin-left:12.5%; width:571px ; height: 600px; border-radius:2%" src="../../../assets/communityblack.png" alt="" >
  <div class="container " style="float: right; width: 25vw; margin-right:20%; margin-top: 6%;  ">
                   
    <h2 class="heading" style="font-weight:bolder; color:rgb(1, 1, 1); font-family: 'Montserrat', sans-serif; font-weight:500">We put the togetherness and love in community </h2>
   
    <p class="lead mt-4" style="line-height:4vh; font-size: 1.3rem; font-family: 'Montserrat', sans-serif; font-weight:400">Being a single parent is nothing but easy,
        Mzazi Space aims to match single parents with similar interests 
        giving them a sense of community and camaraderie.</p>
 

</div>
  

</div>

<div class="container d-flex ">
  <!-- <img style=" width:740px ; height: 440px; border-radius:2%; float:right;" src="../../../assets/learnmore.png" alt="" srcset=""> -->
  <div class="container" style="width: 35vw; margin: 20px 40px;">
                   
    <h2 class="heading" style="font-weight:bolder; color:rgb(10, 10, 10); margin-top: 20%; font-family: 'Montserrat', sans-serif; font-weight:500"> Learning from other single parents coz they get it. </h2>
   
    <p class="lead mt-4" style="line-height:4vh; font-size: 1.3rem; font-family: 'Montserrat', sans-serif; font-weight:400;">  We know that there can be highs and lows to being a single parent. 
      So at Mzazi  Space we offer ways to connect to other single parents.</p>
 

</div>
<img style="width:900px ; height: 600px; border-radius:2%; float:right;padding-left: 20%;" src="../../../assets/learnmore.png" alt="" srcset="">
  

</div>
    
<hr class="line" style="background-color: #f4b504 ; height:0.2rem">


  <!-- <div class="container">
   

    <span class="community" id="comm">
      <h2>Why Mzazi Space</h2>
      <p>We Treat Everyone as Family </p>
    </span>
    <div class="row">

      <div class="col">
        <div class="card">
          <div class="card-header"></div>
          <div class="card-body">
            <img src="https://media.istockphoto.com/photos/diverse-team-of-businesspeople-with-their-hands-in-a-huddle-picture-id1224531615?k=20&m=1224531615&s=612x612&w=0&h=Lsqo4g-mS9-C-IrAM9-er7Fs2ADwenJo83vu2okOPtA=" style="height: 300px;" width="100%" alt="">
          </div>
          <div class="card-footer">
            <div class="description">
              Feel a sense of community by joining a community. <br>
            </div>
            <div class="row">
              
              <div class="col">
                
                  <a  class="btn " style="background-color: #f4b504; margin-top:1%" routerLink="/community">Join Community</a>
             
               
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-header"></div>
          <div class="card-body">
            <img src="https://cdn.mind-diagnostics.org/uploads/mind-diagnostics/images/image/url/how-to-become-a-counselor-to-help-others-3_.jpg.jpg" style="height: 300px;" width="100%" alt="">
          </div>
          <div class="card-footer">
            <div class="description">
             Talk to a counselor. <br>
            </div>
            <div class="row">
             
              <div class="col">
                <a  class="btn " style="background-color: #f4b504; margin-top:1%" routerLink="/service">Services</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-header"></div>
          <div class="card-body">
            <img src="https://www.apa.org/images/single-parent-title-image_tcm7-217916.jpg" style="height: 300px;" width="100%" alt="">
          </div>
          <div class="card-footer">
            <div class="description">
              learn more about single parenting. <br>
            </div>
            <div class="row">
              
              <div class="col">
                
                <a  class="btn " style="background-color: #f4b504; margin-top:1%" routerLink="/learn">Learn</a>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
</div> -->
           

<!-- ..................................Footer................ -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
