<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
<div class="container">
<div class="forms-container">
<div class="signin-signup">
<form action="#" class="sign-in-form" [formGroup]="formGroup" (ngSubmit)="loginProcess()">
<h2 class="login-form" style="font-family: 'Yeseva One', cursive;">Login</h2>
<div class="input-field">
  <i class="fa fa-user"></i>
  <input type="Email" placeholder="Email" formControlName="email"/>
  </div>
<div class="input-field">
<i class="fa fa-lock"></i>
<input type="password" placeholder="Password" formControlName="password"/>
</div>
<input type="submit" value="Login" class="btn solid"/>
<p class="social-text">Our social platforms</p>
<div class="social-media">
<a href="#" class="social-icon">
<i class="fa fa-facebook-f"></i>
</a>
<a href="#" class="social-icon">
<i class="fa fa-twitter"></i>
</a>
<a href="#" class="social-icon">
<i class="fa fa-google"></i>
</a>
<a href="#" class="social-icon">
<i class="fa fa-linkedin"></i>
</a>
</div>
</form>
<form action="#" class="sign-up-form">
<h2 class="title">Sign up</h2>
<div class="input-field">
<i class="fa fa-user"></i>
<input type="text" placeholder="First Name" />
</div>
<div class="input-field">
<i class="fa fa-user"></i>
<input type="text" placeholder="Last Name" />
</div>
<div class="input-field">
<i class="fa fa-user"></i>
<input type="text" placeholder="Username" />
</div>
<div class="input-field">
<i class="fa fa-envelope"></i>
<input type="email" placeholder="Email" />
</div>
<div class="input-field">
<i class="fa fa-lock"></i>
<input type="password" placeholder="Password" />
</div>
<label class="form-label" for="typeName" style="font-family: 'Montserrat', sans-serif; font-weight: 500; ">UserRole:</label>
<div class="form-outline">
<select name="demo" id="typeName" class="form-control" formControlName="user_role" placeholder="Select" required>
<option style="text-align: center; font-family: 'Montserrat', sans-serif;">Select Option</option>
<option formControlName="user_role" style="text-align: center; font-family: 'Montserrat', sans-serif;">Single Parent</option>
<option formControlName="user_role" style="text-align: center; font-family: 'Montserrat', sans-serif;">Counsellor</option>
</select>
</div>
<input type="submit" class="btn" value="Sign up" />
<p class="social-text">Our social platforms</p>
<div class="social-media">
<a href="#" class="social-icon">
<i class="fa fa-facebook-f"></i>
</a>
<a href="#" class="social-icon">
<i class="fa fa-twitter"></i>
</a>
<a href="#" class="social-icon">
<i class="fa fa-google"></i>
</a>
<a href="#" class="social-icon">
<i class="fa fa-linkedin"></i>
</a>
</div>
</form>
</div>
</div>

<div class="panels-container">
<div class="panel left-panel">
<div class="content">
<h3 style="font-family: 'Yeseva One', cursive; letter-spacing: 2px;">New in Mzazi Space?</h3>
<p>
Join the best hub for single parents!
</p>
<button class="btn transparent" id="signUpBtn" style="font-family: 'Yeseva One', cursive; color: #000;" routerLink="/signup">
Sign up
</button>
</div>
<img src="/assets/signup.png" class="image" alt="" />
</div>
<div class="panel right-panel">
<div class="content">
<h3 style="font-family: 'Yeseva One', cursive;">One of us ?</h3>
<p>
Join the best hub for single parents!
</p>
<button class="btn transparent" id="signInBtn">
Sign in
</button>
</div>
<img src="/assets/signup.png" class="image" alt="" />
</div>
</div>
</div>

<!-- <script src="app.js"></script> -->
</body>
</html>