<br>
<br>
<br>

<div class="container-couns mt-30">
  <h1 style="font-family: 'Yeseva One', cursive; font-size: 27px; margin-top: 3%;">Child Services</h1>
  <p style=" font-family: 'Montserrat', sans-serif; font-size: 14px; margin-top: 5px;">
    Childcare is important for both children’s development and parents’ employment. For single parents, childcare is particularly important to help make work possible. As both the main carer and main earner, single parents can’t ‘shift-parent’ in the same way couple parents do in order to manage nursery and school pick-ups and drop-offs.
  </p>
</div>

<div class="row">
  <div class="column" id="counsel">
    <div class="card">
      <h3 style="font-family: 'Yeseva One', cursive; font-size: 27px;">Ms. Margaret Saina</h3>
      <p style="font-family: 'Montserrat', sans-serif; font-size: 19px;">Counselor</p>
      <p style="font-family: 'Montserrat', sans-serif; font-size: 17px;"><i class="fa fa-phone" aria-hidden="true"></i> + 254 86 962 818</p>
      <p style="font-family: 'Montserrat', sans-serif; font-size: 17px;">"Don't hesitate to reach out, we are here for you."</p>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <h3 style="font-family: 'Yeseva One', cursive; font-size: 27px;">Mr. Oscar Lubega</h3>
      <p style="font-family: 'Montserrat', sans-serif; font-size: 19px;">Counselor</p>
      <p style="font-family: 'Montserrat', sans-serif; font-size: 17px;"><i class="fa fa-phone" aria-hidden="true"></i> + 254 86 962 818</p>
      <p style="font-family: 'Montserrat', sans-serif; font-size: 17px;">"Remember a problem shared is a problem halved"</p>
    </div>
  </div>
  