
<body>
  <div class="jumbotron" style="background-color: rgba(0, 0, 0, 0.85);">
    <h1>Childcare Services</h1>
    <hr style="width:10%; background-color: #F4B504; height: 2px; margin-left:45% !important; margin-right:45% !important; opacity: 1;" />
    
      <p class="lead" style=" font-family: 'Montserrat', sans-serif; font-weight: 400; font-size: 21px; margin-top: 5px; color: #fff;">
        Childcare is important for both children’s development and parents’ comfort. We are here to make life a tad easier <br> for single parents by listing usefule childcare services close to you.  
      </p>
      <br>
      
      <div class="card-group" style="margin:3px;">
        <div class="card" style="margin:3px; border-radius: 7px;">
          <img class="card-img-top" src="/assets/daycare.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Daycare Services</h5>
            <p class="card-text">We provide child care services that are aimed at enhancing traditional day care methodologies and integrating extracurricular interests (such as arts and crafts) into one comprehensive program.</p>
            <p style="font-family: 'Montserrat', sans-serif; font-size: 17px; font-weight: 500;"><i class="fa fa-phone" aria-hidden="true"></i> +254 710 962 313</p>
            <p style="font-family: 'Montserrat', sans-serif; font-size: 17px; font-weight: 500;"><i class="fa fa-building" aria-hidden="true"></i>Zuri Road, Asimio Towers, 12th Floor, Rongai</p>
          </div>
        </div>
        <div class="card" style="margin:3px; border-radius: 7px;">
          <img class="card-img-top" src="/assets/pd.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Play Dates</h5>
            <p class="card-text">Play Dates is an interactive platform where Mommies or Daddies can help build their child's social circle.</p>
            <p style="font-family: 'Montserrat', sans-serif; font-size: 17px; font-weight: 500;"><i class="fa fa-phone" aria-hidden="true"></i> +254 110 062 215</p>
            <p style="font-family: 'Montserrat', sans-serif; font-size: 17px; font-weight: 500;"><i class="fa fa-building" aria-hidden="true"></i>Luanda Lane,Hse No.245, Kitengela</p>
          </div>
        </div>
        <div class="card" style="margin:3px; border-radius: 7px;">
          <img class="card-img-top" src="/assets/therapy7.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Child Therapy</h5>
            <p class="card-text">Center for Child Counseling promotes positive mental health for children and families through prevention, early intervention, and treatment.</p>
            <p style="font-family: 'Montserrat', sans-serif; font-size: 17px; font-weight: 500;"><i class="fa fa-phone" aria-hidden="true"></i> +254 711 960 413</p>
            <p style="font-family: 'Montserrat', sans-serif; font-size: 17px; font-weight: 500;"><i class="fa fa-building" aria-hidden="true"></i>Kampala Rd, Kimathi Plaza, 7th Floor, Nairobi</p>
          </div>
        </div>
      </div>
      <div class="card-group" style="margin:3px;">
        <div class="card" style="margin:3px; border-radius: 7px;">
          <img class="card-img-top" src="/assets/study7.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Babysitting</h5>
            <p class="card-text">Get professional nannies available by city. Our babysitters have First Aid training and Police Clearance Certificate. Give us a call.</p>
            <p style="font-family: 'Montserrat', sans-serif; font-size: 17px; font-weight: 500;"><i class="fa fa-phone" aria-hidden="true"></i> +254 710 962 313</p>
            <p style="font-family: 'Montserrat', sans-serif; font-size: 17px; font-weight: 500;"><i class="fa fa-building" aria-hidden="true"></i>Wakili Rd, Mwema House 1132, Nairobi</p>
          </div>
        </div>
        <div class="card" style="margin:3px; border-radius: 7px;">
          <img class="card-img-top" src="/assets/totos.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Toto's Basics</h5>
            <p class="card-text">You are a newly single dad or mom and clueless about what toto needs? Call us, we got you!</p>
            <p style="font-family: 'Montserrat', sans-serif; font-size: 17px; font-weight: 500;"><i class="fa fa-phone" aria-hidden="true"></i> +254 710 962 313</p>
            <p style="font-family: 'Montserrat', sans-serif; font-size: 17px; font-weight: 500;"><i class="fa fa-building" aria-hidden="true"></i>Uzima Lane,Uzima Plaza, 1st Floor, Nairobi</p>
          </div>
        </div>
        <div class="card" style="margin:3px; border-radius: 7px;">
          <img class="card-img-top" src="/assets/playdate.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Toy Center</h5>
            <p class="card-text">Toy Center has a toy for every child, a center for every family. Where play, imagination and creativity are encouraged!</p>
            <p style="font-family: 'Montserrat', sans-serif; font-size: 17px; font-weight: 500;"><i class="fa fa-phone" aria-hidden="true"></i> +254 710 962 313</p>
            <p style="font-family: 'Montserrat', sans-serif; font-size: 17px; font-weight: 500;"><i class="fa fa-building" aria-hidden="true"></i>Mirema Drive,Woody Plaza, 1st Floor, Nairobi</p>
          </div>
        </div>
      </div>
    </div>


</body>