
<body>
  <div class="jumbotron" style="margin-top: 1%; background-color: rgba(0, 0, 0, 0.85);">
    <h1>Child Services</h1>
    <hr style="width:10%; background-color: #F4B504; height: 2px; margin-left:45% !important; margin-right:45% !important; opacity: 1;" />
    
      <p class="lead" style=" font-family: 'Montserrat', sans-serif; font-weight: 400; font-size: 21px; margin-top: 5px; color: #fff;">
        Childcare is important for both children’s development and parents’ employment. For single parents, childcare is particularly important to help make work possible. <br> 
        As both the main carer and main earner, single parents can’t ‘shift-parent’ in the same way couple parents do in order to
        manage school pick-ups and drop-offs.<br>
        Single parents tell us that the lack of affordable and flexible childcare available locally  <br> 
        often prevents them from entering (or re-entering) work comfortably <br> knowing their child is sound body and soul. 
      </p>
      <br>
      <br>
      <div class="card-columns d-flex justify-content-center">
        <div class="card" style="width: 18rem; border-width: 3px; border-color: #F4B504;">
          <div class="card-body">
            <h3 style="font-family: 'Yeseva One', cursive; font-size: 27px;">Daycare Services</h3>
            <p style="font-family: 'Montserrat', sans-serif; font-size: 19px; font-weight: 500;"><i class="fa fa-home" aria-hidden="true"></i> Mzazi Daycare Services</p>
            <p style="font-family: 'Montserrat', sans-serif; font-size: 17px; font-weight: 500;"><i class="fa fa-phone" aria-hidden="true"></i> +254 710 962 313</p>
            <p style="font-family: 'Montserrat', sans-serif; font-size: 17px; font-weight: 500;"></p>
            <hr>
          </div>
        </div>
        <div class="card" style="width: 18rem; border-width: 3px; border-color: #F4B504;">
          <div class="card-body">
            <h3 style="font-family: 'Yeseva One', cursive; font-size: 27px;">Child Counselor</h3>
            <p style="font-family: 'Montserrat', sans-serif; font-size: 19px; font-weight: 500;">Mr. Oscar Lubega</p>
            <p style="font-family: 'Montserrat', sans-serif; font-size: 17px; font-weight: 500;"><i class="fa fa-phone" aria-hidden="true"></i> + 254 711 962 818</p>
            <hr>
          </div>
        </div>
      </div>
    </div>


</body>