/* font-family: 'Montserrat', sans-serif;
font-family: 'Rokkitt', serif;
font-family: 'Yeseva One', cursive; */


* {
  box-sizing: border-box;

	
}

body {
  background-image: url("/assets/about77.png");
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.7);
  margin-bottom: 4%;
  
}

/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #Fff;
  color: #000;
}

h1{
  font-family: 'Yeseva One', cursive;
  text-align: center;
  color: #FFF;
  margin-top: 2%;
  margin-bottom: 17px;
  font-size: 44px;
}

h2{
  font-family: 'Yeseva One', cursive;
  text-align: center;
  color: #F4B504;
  /* margin-top: 1%; */
  margin-bottom: 17px;
  font-size: 44px;
}
h5{
  font-family: 'Yeseva One', cursive;
  text-align: center;
}

p{
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 19px;
}

#i {
  background-color: #D3D3D3;
  border-radius: 50%;
  padding: 10px;
  color: #000;
}

#child-div{
  margin-bottom: 27%;
  align-items: center;
}

/* .card-columns{
  margin-bottom: 15%;
} */


/* Childservices cards */
/* * {
	box-sizing: border-box;
}

.wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: Montserrat;
	background: #262626;
	width: 100%;
	height: 100vh;
}

.outer {
	position: relative;
	background: #fff;
	height: 350px;
	width: 550px;
	overflow: hidden;
	display: flex;
	align-items: center;
}

img {
	position: absolute;
	top: 0px;
	right: -20px;
	z-index: 0;
	animation-delay: 0.5s;
}

.content {
	animation-delay: 0.3s;
	position: absolute;
	left: 20px;
	z-index: 3
}

.bg {
	display: inline-block;
	color: #fff;
	background: cornflowerblue;
	padding: 5px 10px;
	border-radius: 50px;
	font-size: .7em;
}
.button {
	width: fit-content;
	height: fit-content;
	margin-top: 10px;
	
}

.button a {
	display: inline-block;
	overflow: hidden;
	position: relative;
	font-size: 11px;
	color: #111;
	text-decoration: none;
	padding: 10px 15px;
	border: 1px solid #aaa;
	font-weight: bold;
	
	
}

.button a:after{
	content: "";
	position: absolute;
	top: 0;
	right: -10px;
	width: 0%;
	background: #111;
	height: 100%;
	z-index: -1;
	transition: width 0.3s ease-in-out;
	transform: skew(-25deg);
	transform-origin: right;
}

.button a:hover:after {
	width: 150%;
	left: -10px;
	transform-origin: left;
	
}

.button a:hover {
	color: #fff;
	transition: all 0.5s ease;
}


.button a:nth-of-type(1) {
	border-radius: 50px 0 0 50px;
	border-right: none;
}

.button a:nth-of-type(2) {
	border-radius: 0px 50px 50px 0;
}

.cart-icon {
	padding-right: 8px;
	
}

.footer {
	position: absolute;
	bottom: 0;
	right: 0;
} */
