<body>
  <div class="container mt-5">
      <!--user profile here-->
     <div class="userdetails " style="background-image: url('https://static4.depositphotos.com/1003671/324/i/600/depositphotos_3248385-stock-photo-african-sunset-with-silhouetted-tree.jpg'); width:1254px;height:438px; background-size: cover; background-repeat:no-repeat; border-radius:10px; opacity:0.8rem">
                      <div class=" " >

                        <img class="rounded-circle profile-img" src="https://media.istockphoto.com/illustrations/stylish-avatar-in-black-in-a-yellow-circle-profile-template-for-illustration-id1311497219?k=20&m=1311497219&s=170667a&w=0&h=l_JLCykf3bHxG-HzTDDRnVNBGmkpVz4iH9v5Gdqcuco=" alt="profile-image" width="10%" style="margin-top:29% ; margin-left: 10%;" >

                        <!-- <img [src]="profile.prof_pic" class="user-img" /> -->
                        <!-- <img  class="rounded-circle profile-img" src="{{prof_pic_url + profile.prof_pic}}" alt="profile-image" width="60%"> -->
                          <div class="bio" style="margin-left:10%">
                          <h3 class="mt-4 h-font-semibold" >{{profile?.user?.f_name}} {{profile?.user?.l_name}}</h3>
                          <p class="p-description">{{profile?.user?.email}}</p>
                          <p class="p-description">{{profile?.user?.user_role}}</p>
                      </div>
                    </div>






              </div>
    <div class="container-fluid">


        <!-- <a type="button" class="more-styles"
        [hidden]="!inboundClick"
        (click)="inboundClick = !inboundClick"
        [routerLink]="['/inbound']" href="">
     </a>

     <a type="button" class="more-styles"
        [hidden]="!outboundClick "
        (click)="outboundClick = !outboundClick "
        [routerLink]="['/outbound']" href="">
     </a> -->

    </div>
              <div class="col-lg-12 col-md-5 col-sm-12 text-center" style="margin-left:16% ; margin-top: 5%;">
                <h5>My Bio</h5>
                <p class="p-description fw-200 fs-4">{{profile.bio}}</p>
                <button class="btn btn-warning mb-4" style="border-radius: 10px;box-shadow: 2px 2px white; background-color: #f4b504; color: #000;border: none;justify-content: center;" (click)="updateProfile(profile, mymodal)">Update Profile</button>
                <!-- <p class="p-description">I love Data</p> -->
                <!-- <a routerLink="/update" ><button class="btn  btn-orange">Update Profile</button></a> -->

            </div>
              <!-- <div class="container" style="margin-top:-8%; margin-left:30%">
               <div class="row d-flex justify-content-center align-items-center">
                 <div class="col-8 col-md-5 col-lg-6 col-xl-5">
                 <form action="" [formGroup]="profileForm">


                  <input type="text" name="" id="" style="padding:10px ; width:20rem" placeholder="Add Bio" formControlName="bio">
                  <div ng-app="testApp" ng-controller="testController">
                    <div class="well">Change Profile Pic
                      <input type="file"  accept="image/*" ng-model="imageSrc" onchange="angular.element(this).scope().fileNameChaged(this)" style="font-size:15px">
                    </div>
                </div>

                 <button (click)="saveProfile()" class="btn btn-primary">Save Updates</button> -->
                <!-- <button class="btn  btn-orange btn-lg px-3 mt-2" type="submit"  >Save Profile</button>
              </form>
          -->
<!--
     </div>
     </div>
    </div> -->
              </div>

<br>
<br>
<br>
              <div class="container">
                <div class="row">

                  <div class="col-xs-12 col-md-10 offset-md-1">
                    <div class="articles-toggle">
                      <div class="col-lg-12 col-md-4 col-sm-12 mt-4">
                        <div class="userposts" style="display: inline-block; ">
                        <h5 class="post-name">My Posts </h5>
                        <div class="card-columns" >
                        <div class="card" style="width:100%;">
                            <img src="https://forwardtimes.com/wp-content/uploads/2016/03/single-black-mother-large.jpg" alt="postscreenshot" width="100%">
                            <div class="card-body">
                                <h5 class="text-center post-name " style="color:rgb(3, 3, 3) ; font-weight:700;">Winning As a Single Mom</h5>
                                <p class="text-center">The Single Mother Survival Guide Podcast includes a mixture of me babbling about single mums </p>
                            </div>
                        </div>
                        <div class="card" style="width:100%;">
                            <img src="../../../assets/helena-lopes-PGnqT0rXWLs-unsplash.jpg" alt="postscreenshot" width="100%">
                            <div class="card-body">
                                <h5 class="text-center post-name " style="color:rgb(3, 3, 3) ; font-weight:700;">Community that Changed my life</h5>
                                <p class="text-center">The Single Mother Survival Guide Podcast includes a mixture of me babbling about single mums </p>
                            </div>
                        </div>
                        <div class="card" style="width:100%;">
                            <img src="../../../assets/landingpg-removebg-preview.png" alt="postscreenshot" width="100%">
                            <div class="card-body">
                                <h5 class="text-center post-name " style="color:rgb(3, 3, 3) ; font-weight:700;">Winning As a Single Mom</h5>
                                <p class="text-center">The Single Mother Survival Guide Podcast includes a mixture of me babbling about single mums </p>
                            </div>
                        </div>
                    </div>

                  </div>

                </div>
              </div>

            </div>
</div>

</div>
 <!-- </div> -->

  </body>

  <ng-template #mymodal let-modal>
    <div class="modal-header">

      <div class="md-form mb-4">
        <h4 class="modal-title" id="modal-basic-title">Update Bio and Prof pic</h4>




            <div class="business">



            <!-- <div class="form-group">
                <input type="file" class="form-control-file mb-3" id="exampleFormControlFile1">
            </div> -->


        <div class="col-lg-8 col-md-5 col-sm-12 mt-3 text-center">

            <p class="p-description">{{profile.bio}}</p>
            <!-- <p class="p-description">I love Data</p> -->

            <!-- <a (click)="updateProfile(profile)" ><button class="btn  btn-orange">Update Profile</button></a> -->
        </div>
          <div class="container" style="margin-top:8%;  ">
           <div class="row d-flex justify-content-center align-items-center">
             <div class="col-6 col-md-5 col-lg-6 col-xl-5">
             <form action="" [formGroup]="profileForm">


              <input type="text" name="" id="" style="padding:40px ; width:20rem" placeholder="Add Bio" formControlName="bio">
              <div ng-app="testApp" ng-controller="testController">
                <div class="well">Change Profile Pic
                  <input type="file"  accept="image/*" ng-model="imageSrc" onchange="angular.element(this).scope().fileNameChaged(this)" style="font-size:15px">
                </div>
            </div>

            <!-- <button (click)="saveProfile()" class="btn btn-primary">Save Updates</button> -->
            <!-- <button class="btn  btn-orange btn-lg px-3 mt-2" type="submit"  >Save Profile</button> -->
            <div class="modal-footer">
              <button type="button" class="btn btn-warning mb-3" (click)="saveProfile()">Save Profile</button>
              </div>
          </form>


 </div>
 </div>
</div>
          </div>

      </div>
    </div>
