@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rokkitt:wght@200;300;400;500;600;700;800;900&family=Yeseva+One&display=swap');
/* font-family: 'Montserrat', sans-serif;
font-family: 'Rokkitt', serif;
font-family: 'Yeseva One', cursive; */

h1{
    font-family: 'Yeseva One', cursive;
    text-align: center;
    color: #fff;
    margin-top: 4%;
    font-size: 44px;
    font-weight: 700;
  }
  
  p{
    text-align: center;
    letter-spacing: 0.5px;
    color: rgb(2, 2, 2);
    font-family: 'Montserrat', sans-serif;
    font-size: 21px;
    margin-bottom: 27px;
    font-weight: 400;
  }

.form-control{
    box-shadow: 10% yellow;
    font-family: 'Rokkitt', serif;

}
.form-group{
    font-family: 'Rokkitt', serif;  
}
h4{
    font-family: 'Yeseva One', cursive; 
    margin: auto; 
    width: 50%;
}
.business{
    margin-left: 4rem;
    width: 100%;
}
.modal-title{
    display:inline;
   
    font-size: 20px;
}
h3{
    font-family: 'Yeseva One', cursive;
    font-size: 20px;
    text-align: center;
}
.title{
    /* text-align: center; */
    font-family: 'Yeseva One', cursive;
    font-size: 20px;
}
.media-body{
    border-radius: 10px;
    background-color: grey;
    margin-bottom: 40%;
}
.text-center{
    font-family: 'Montserrat', sans-serif;

}

.date{
    margin-left: 2%;
}

.card{
    border-radius:10px;
}

.card img{
    border-radius:10px; 
}