   <div class="row">
    <div class="col-md-12">
    <h2 style="color: #000 ;margin-left: 25rem;margin-top: 5rem;font-family: 'Yeseva One', cursive; ">Mzazi Testimonials</h2>
    <p style="margin-left: 28rem;font-family: 'Montserrat', sans-serif;">Get to share your experiences.</p>
<!--     
     <div class="container ">
      <img src="..." alt="Avatar" style="width:90px">
      <p>Chris Fox,CEO at Mighty Schools.</p>
      <p>John Doe saved us from a web disaster.</p>
    </div> --> 
    <div class="card mb-3" style="width: 70rem;">
      <img src="..." alt="Avatar" style="width:90px">

        <p>Chris Fox,CEO at Mighty Schools.</p>
        <p>John Doe saved us from a web disaster.</p>

    </div>
    <div class="card mb-3" style="width: 70rem;">
      <img  src="..." alt="Avatar" style="width:90px">
      
        <p>Chris Fox,CEO at Mighty Schools.</p>
        <p>John Doe saved us from a web disaster.</p>
      
    </div>
    <div class="card mb-3" style="width: 70rem;">
      <img src="..." alt="Avatar" style="width:90px">
      
        <p>Chris Fox,CEO at Mighty Schools.</p>
        <p>John Doe saved us from a web disaster.</p>
      
    </div>
  
      </div>
    </div>
