<br>
<br>
    <!-- <div class="container">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <h1 class="text-center">Welcome!</h1>
                <h6 class="text-center">Sign up or Login to continue</h6>
                <img src="https://www.svgrepo.com/show/25821/mother-with-son-silhouettes.svg" class="ms-3"   alt="">
                <form> -->
                      <!-- Username input -->
                      <!-- <div class="form-outline mb-4">
                        <input type="text" id="registerUsername" class="form-control" placeholder="Full Name"   />
                        <label class="form-label" for="registerUsername"></label>
                      </div> -->
                    
                      <!-- Email input -->
                      <!-- <div class="form-outline mb-4">
                        <input type="email" id="registerEmail" class="form-control" placeholder="Email" />
                        <label class="form-label" for="registerEmail"></label>
                      </div> -->
                    
                      <!-- Password input -->
                      <!-- <div class="form-outline mb-4">
                        <input type="password" id="registerPassword" class="form-control" placeholder="Password"/>
                        <label class="form-label" for="registerPassword"></label>
                      </div> -->

                    
                      <!-- Submit button -->
                      <!-- <button type="submit" class="btn btn-primary btn-block mb-3" routerLink="/login">SIGN UP</button>
                      <button type="submit" class="btn btn-primary btn-block mb-3" routerLink="/login">LOGIN</button>
                    </form>

                    <a routerLink="/login">Already a Member? Login </a>
            
            </div>
            <div class="col-md-4"></div>
        </div>
    </div> -->


<div class="container align-items-center">
  <div class="row d-flex justify-content-center align-items-center">
    <div class="col-12 col-md-8 col-lg-6 col-xl-5">
      <div class="card text-black" style="border-radius: 2rem">
        <div class="card-body text-center">
          <form action="#" class="login-form" [formGroup]="formGroup" (ngSubmit)="signupProcess()">
          <!-- <form
            class="mb-md-5 mt-md-6"
            (submit)="signupProcess(username.value, email.value, password.value,
            f_name.value,l_name.value,user_role.value)" #signForm="ngForm" id="form"> -->
            <h2 class="fw-bold mb-2 text-uppercase" id="title">Sign Up</h2>

            <div class="form-outline form-white mb-4">
              <label class="form-label" for="typefisrtName">First Name</label>
              <input type="text" id="typefisrtName" class="form-control" formControlName="f_name" />
            </div>
            <div class="form-outline form-white mb-4">
              <label class="form-label" for="typelastName">Last Name</label>
              <input type="text" id="typelastName" class="form-control"formControlName="l_name"/>
            </div>
            <div class="form-outline form-white mb-4">
              <label class="form-label" for="typeuserName">UserName</label>
              <input type="text" id="typeuserName" class="form-control" formControlName="username" />
            </div>

            <div class="form-outline form-white mb-4">
              <label class="form-label" for="typeEmailX">Email</label>
              <input type="email" id="typeEmailX" class="form-control" formControlName="email" />
            </div>

            <div class="form-outline form-white mb-4">
              <label class="form-label" for="typePasswordX">Password</label>
              <input type="password"id="typePasswordX"class="form-control" formControlName="password"/>
            </div>
            <!-- Drop down -->
            <div class="form-outline form-white mb-4">
              <label class="form-label" for="typeName">UserRole</label>
              <input type="text" id="typeName" class="form-control" formControlName="user_role" />
            </div>

            <button class="btn btn-outline-dark btn-lg px-5" type="submit" >Sign Up</button>
          </form>

          <div>
            <p class="mb-0" id="title">
              Already have an account?
              <a href="#!" routerLink="/login" class="text-50 fw-bold">Log In</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

