<!doctype html>
<html lang="en">
  <head>
    <title>Sign Up</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <h1 class="text-center">Welcome!</h1>
                <h6 class="text-center">Sign up or Login to continue</h6>
                <img src="https://www.svgrepo.com/show/25821/mother-with-son-silhouettes.svg" class="ms-3"   alt="">
                <form>
                      <!-- Username input -->
                      <div class="form-outline mb-4">
                        <input type="text" id="registerUsername" class="form-control" placeholder="Full Name"   />
                        <label class="form-label" for="registerUsername"></label>
                      </div>
                    
                      <!-- Email input -->
                      <div class="form-outline mb-4">
                        <input type="email" id="registerEmail" class="form-control" placeholder="Email" />
                        <label class="form-label" for="registerEmail"></label>
                      </div>
                    
                      <!-- Password input -->
                      <div class="form-outline mb-4">
                        <input type="password" id="registerPassword" class="form-control" placeholder="Password"/>
                        <label class="form-label" for="registerPassword"></label>
                      </div>

                    
                      <!-- Submit button -->
                      <button type="submit" class="btn btn-primary btn-block mb-3">SIGN UP</button>
                      <button type="submit" class="btn btn-primary btn-block mb-3">LOGIN</button>
                    </form>
            
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>

            
      
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>

<style>
    img{
        width: 15vw;
        margin: auto;
        display: flex;
        margin-bottom: 4%;
    }
</style>

